img {
    width: 50%;
    max-width: 100%;
    height: 90%;
    max-height: 100%;
}

.err-num {
    font-size: 5rem;
    color: #18149E;
    ;
}

.err-text {
    font-size: 3rem;
    color: #18149E;
    ;
}