<!-- <div class="error h-100">
    <div class="error-page" style="background-image: url(assets/images/error-page.png);">
        <div class="error_container h-100 ">
            <div class="error-text pl-4">
                <p class="arco-primary-text mb-0">
                    404
                </p>
                <p class="arco-primary-text mb-0">
                    ERROR
                </p>
                <h3 class="black-alt-text fs-30">
                    Nothing left to do here.
                </h3>
            </div>
            <button class="btn btn-solid  btn-solid text-center" (click)="goBack()">Back</button>
        </div>
    </div>
</div> -->
<div class="d-flex flex-column align-items-center justify-content-start h-100 w-100">
    <div class="w-100 d-md-flex align-items-center justify-content-center">
        <img src="../../../../assets/images/imgs/not-found.svg" alt="">
    </div>

    <div class="d-flex align-items-center justify-content-center flex-column w-100">
        <h1 class="err-num bold">404</h1>
        <h1 class="err-text bold">Page Not Found</h1>
        <button class="btn btn-solid" type="submit" (click)="goBack()">back</button>

    </div>

</div>